:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --button-accent-color: #188ce8;
  --button-bg-color: #f5f4fa;
  --primary-link-color: #afb1b8;
  --animation-dur-dir: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-set-gap: 30px;
  --card-shadow: rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--animation-dur-dir), visibility var(--animation-dur-dir);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    padding-right: 15px;
    padding-top: 10px;
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
  .mobile-nav__link {
    display: block;
    text-decoration: none;
    margin-bottom: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-nav__link_current {
    color: var(--accent-color);
  }
  .mobile-nav__contacts {
    margin-top: auto;
  }
  .mobile-nav__link_contact {
    display: block;
    text-decoration: none;
    color: rgb(117, 117, 117);
  }
  .mobile-nav__tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-nav__mail {
    margin-top: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-nav__social {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
  }
  .mobile-nav__social_link {
    color: var(--accent-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .mobile-nav__social_item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  .mobile-nav__social_item:not(:first-child) {
    padding-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.logo {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__theme-light {
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__theme-dark {
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--accent-color);
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .logo__theme-light {
    align-items: center;
    color: #000000;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .auth-nav__contacts {
    display: none;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #ececec;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .burger-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .burger-btn_icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .burger-btn_icon {
    display: none;
  }
  .burger-btn_icon {
    display: none;
  }
  .page-header {
    border-bottom: 1px solid #ececec;
  }
  .page-header__container {
    display: flex;
    justify-content: center;
  }
  .main-nav {
    display: flex;
    justify-content: center;
  }
  .auth-nav__contacts {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 96px;
  }
  .site-nav {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
    margin-left: 88px;
  }
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    position: relative;
    transition: color var(--animation-dur-dir);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav__link_current {
    color: var(--accent-color);
  }
  .site-nav__link_current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -1px;
  }
  .auth-nav__item {
    display: block;
    justify-content: center;
    margin-left: auto;
  }
  .auth-nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--animation-dur-dir);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--accent-color);
  }
  .auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--animation-dur-dir);
  }
  .envelope {
    width: 18px;
    height: 14px;
  }
  .smartfone {
    width: 14px;
    height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    border-bottom: 1px solid #ececec;
  }
  .main-nav {
    display: flex;
    justify-content: center;
  }
  .site-nav {
    margin-left: 93px;
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    transition: color var(--animation-dur-dir);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav__link_current {
    color: var(--accent-color);
  }
  .site-nav__link_current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -1px;
  }
  .auth-nav__contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 312px;
    padding-top: 27px;
    padding-bottom: 37px;
  }
  .auth-nav__item + .auth-nav__item {
    margin-left: 30px;
  }
  .auth-nav__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--animation-dur-dir);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--accent-color);
  }
  .auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--animation-dur-dir);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--animation-dur-dir), visibility var(--animation-dur-dir);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    padding-right: 15px;
    padding-top: 10px;
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
  .mobile-nav__link {
    display: block;
    text-decoration: none;
    margin-bottom: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-nav__link_current {
    color: var(--accent-color);
  }
  .mobile-nav__contacts {
    margin-top: auto;
  }
  .mobile-nav__link_contact {
    display: block;
    text-decoration: none;
    color: rgb(117, 117, 117);
  }
  .mobile-nav__tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-nav__mail {
    margin-top: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-nav__social {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
  }
  .mobile-nav__social_link {
    color: var(--accent-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .mobile-nav__social_item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  .mobile-nav__social_item:not(:first-child) {
    padding-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .page-footer {
    padding: 60px 0;
    background-color: #2f303a;
  }
  .footer-contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-contacts {
    margin-bottom: 60px;
  }
  .footer-contacts:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-contacts__link {
    color: #757575;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color var(--animation-dur-dir);
  }
  .footer-contacts__link:hover, .footer-contacts__link:focus {
    color: var(--accent-color);
  }
  .footer-contacts__map {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color var(--animation-dur-dir);
  }
  .footer-contacts__map:hover, .footer-contacts__map:focus {
    color: var(--accent-color);
  }
  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .join__title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .join-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .join__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--animation-dur-dir);
  }
  .join__link:hover, .join__link:focus {
    background-color: var(--accent-color);
  }
  .join__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  .submit-footer {
    display: block;
  }
  .submit-footer__imput {
    background-color: #2f303a;
    color: #ffffff;
    padding-left: 15px;
    width: 100%;
    min-height: 50px;
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
  .submit-footer__imput::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .submit-footer__imput:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .submit-footer__imput::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .submit-footer__text {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .submit-footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;
    background: #2196f3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    transition: background-color var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .submit-footer__btn:hover, .submit-footer__btn:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
  .submit-footer__btn_icon {
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .footer-box {
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 165px;
         column-gap: 165px;
    row-gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts__link {
    color: #757575;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color var(--animation-dur-dir);
  }
  .footer-contacts__link:hover, .footer-contacts__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts__map {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color var(--animation-dur-dir);
  }
  .footer-contacts__map:hover, .footer-contacts__map:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .join__title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .join-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .join__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--animation-dur-dir);
  }
  .join__link:hover, .join__link:focus {
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .join__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .submit-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .submit-footer__imput {
    background-color: #2f303a;
    color: #ffffff;
    padding-left: 15px;
    width: 320px;
    height: 50px;
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
  .submit-footer__imput::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .submit-footer__imput:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .submit-footer__imput::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
@media screen and (min-width: 768px) {
  .submit-footer__text {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .submit-footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;
    background: #2196f3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    transition: background-color var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .submit-footer__btn:hover, .submit-footer__btn:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
}
@media screen and (min-width: 768px) {
  .submit-footer__btn_icon {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    padding: 60px 0;
    background-color: #2f303a;
  }
  .footer-box {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .footer__address {
    margin-top: 20px;
  }
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-contacts__link {
    color: #757575;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color var(--animation-dur-dir);
  }
  .footer-contacts__link:hover, .footer-contacts__link:focus {
    color: var(--accent-color);
  }
  .footer-contacts__map {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color var(--animation-dur-dir);
  }
  .footer-contacts__map:hover, .footer-contacts__map:focus {
    color: var(--accent-color);
  }
  .footer-contacts-wrapper {
    align-items: baseline;
    /* padding-top: 60px; */
  }
  .join-wrapper {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .join {
    margin-left: 70px;
  }
  .join__title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .join__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  .join__item {
    display: flex;
    justify-content: center;
  }
  .join__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--animation-dur-dir);
  }
  .join__link:hover, .join__link:focus {
    background-color: var(--accent-color);
  }
  .submit-footer {
    margin-left: 93px;
  }
  .submit-footer__email {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .submit-footer__imput {
    background-color: #2f303a;
    color: #ffffff;
    padding-left: 15px;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
  .submit-footer__imput::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .submit-footer__imput:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .submit-footer__imput::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .submit-footer__text {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .submit-footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196f3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    transition: background-color var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .submit-footer__btn:hover, .submit-footer__btn:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
  .submit-footer__btn_icon {
    margin-left: 10px;
  }
}
/* =========================submit-footer===================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--animation-dur-dir), visibility var(--animation-dur-dir);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 450px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transition: 700ms ease-in-out;
    /* transition: width 800ms cubic-bezier(0.4, 0, 0.2, 1),
    height 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    min-height: 609px;
    background-color: rgb(255, 255, 255);
  }
  .backdrop.is-hidden .modal {
    transform: scale(0.1);
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: fill var(--animation-dur-dir);
  }
  .modal-close-btn:hover {
    fill: var(--accent-color);
  }
}
@media screen and (max-width: 479px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transition: 700ms ease-in-out;
    /* transition: width 800ms cubic-bezier(0.4, 0, 0.2, 1),
    height 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    transform: translate(-50%, -50%) scale(1);
    width: 320px;
    min-height: 609px;
    background-color: rgb(255, 255, 255);
  }
  .backdrop.is-hidden .modal {
    transform: scale(0.1);
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: fill var(--animation-dur-dir);
  }
  .modal-close-btn:hover {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
/* ====================Modal form============================== */
@media screen and (min-width: 450px) {
  .modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color var(--animation-dur-dir);
  }
  .modal-form-check:checked + .modal-form-own-checkbox {
    background-color: var(--accent-color);
    border: none;
  }
  .modal-form-check:focus + .modal-form-own-checkbox {
    box-shadow: 0 0 0 2px rgba(97, 238, 51, 0.5);
  }
  .modal-form-own-checkbox-icon {
    display: none;
    fill: #212121;
  }
  .modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
    display: block;
  }
  .modal-link {
    color: var(--accent-color);
  }
}
@media screen and (max-width: 479px) {
  .modal-form-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-field {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-field-desc {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
  }
  .modal-texarea {
    margin-bottom: 20px;
  }
  .modal-form-input-wrapper {
    position: relative;
    display: block;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-input:focus {
    outline: none;
    /* border-color: var(--accent-color); */
    border: 1px solid var(--accent-color);
  }
  .modal-form-field:focus-within .modal-form-input, .modal-form-field:hover .modal-form-input {
    border: 1px solid var(--accent-color);
  }
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill var(--animation-dur-dir);
  }
  .modal-form-field:focus-within .modal-form-input-icon, .modal-form-field:hover .modal-form-input-icon {
    fill: var(--accent-color);
  }
  .modal-form-message {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 15px;
    resize: none;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-field:focus-within .modal-form-message, .modal-form-field:hover .modal-form-message {
    border: 1px solid var(--accent-color);
  }
  .modal-form-message::-moz-placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:-ms-input-placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
  .modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color var(--animation-dur-dir);
  }
  .modal-form-check:checked + .modal-form-own-checkbox {
    background-color: var(--accent-color);
    border: none;
  }
  .modal-form-check:focus + .modal-form-own-checkbox {
    box-shadow: 0 0 0 2px rgba(97, 238, 51, 0.5);
  }
  .modal-form-own-checkbox-icon {
    display: none;
    fill: #212121;
  }
  .modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
    display: block;
  }
  .modal-link {
    color: var(--accent-color);
  }
  .modal-form-sumbit {
    min-width: 200px;
    min-height: 50px;
    align-self: center;
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .modal-form-sumbit:hover, .modal-form-sumbit:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
}
@media screen and (min-width: 451px) {
  .modal-form-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-field {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-field-desc {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
  }
  .modal-texarea {
    margin-bottom: 20px;
  }
  .modal-form-input-wrapper {
    position: relative;
    display: block;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-input:focus {
    outline: none;
    /* border-color: var(--accent-color); */
    border: 1px solid var(--accent-color);
  }
  .modal-form-field:focus-within .modal-form-input, .modal-form-field:hover .modal-form-input {
    border: 1px solid var(--accent-color);
  }
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill var(--animation-dur-dir);
  }
  .modal-form-field:focus-within .modal-form-input-icon, .modal-form-field:hover .modal-form-input-icon {
    fill: var(--accent-color);
  }
  .modal-form-message {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 15px;
    resize: none;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-field:focus-within .modal-form-message, .modal-form-field:hover .modal-form-message {
    border: 1px solid var(--accent-color);
  }
  .modal-form-message::-moz-placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:-ms-input-placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
  .modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color var(--animation-dur-dir);
  }
  .modal-form-check:checked + .modal-form-own-checkbox {
    background-color: var(--accent-color);
    border: none;
  }
  .modal-form-check:focus + .modal-form-own-checkbox {
    box-shadow: 0 0 0 2px rgba(97, 238, 51, 0.5);
  }
  .modal-form-own-checkbox-icon {
    display: none;
    fill: #212121;
  }
  .modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
    display: block;
  }
  .modal-link {
    color: var(--accent-color);
  }
  .modal-form-sumbit {
    min-width: 200px;
    min-height: 50px;
    align-self: center;
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .modal-form-sumbit:hover, .modal-form-sumbit:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-field {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-field-desc {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
  }
  .modal-texarea {
    margin-bottom: 20px;
  }
  .modal-form-input-wrapper {
    position: relative;
    display: block;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-input:focus {
    outline: none;
    /* border-color: var(--accent-color); */
    border: 1px solid var(--accent-color);
  }
  .modal-form-field:focus-within .modal-form-input, .modal-form-field:hover .modal-form-input {
    border: 1px solid var(--accent-color);
  }
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill var(--animation-dur-dir);
  }
  .modal-form-field:focus-within .modal-form-input-icon, .modal-form-field:hover .modal-form-input-icon {
    fill: var(--accent-color);
  }
  .modal-form-message {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 15px;
    resize: none;
    transition: border var(--animation-dur-dir);
  }
  .modal-form-field:focus-within .modal-form-message, .modal-form-field:hover .modal-form-message {
    border: 1px solid var(--accent-color);
  }
  .modal-form-message::-moz-placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:-ms-input-placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
  .modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color var(--animation-dur-dir);
  }
  .modal-form-check:checked + .modal-form-own-checkbox {
    background-color: var(--accent-color);
    border: none;
  }
  .modal-form-check:focus + .modal-form-own-checkbox {
    box-shadow: 0 0 0 2px rgba(97, 238, 51, 0.5);
  }
  .modal-form-own-checkbox-icon {
    display: none;
    fill: #212121;
  }
  .modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
    display: block;
  }
  .modal-link {
    color: var(--accent-color);
  }
  .modal-form-sumbit {
    min-width: 200px;
    min-height: 50px;
    align-self: center;
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .modal-form-sumbit:hover, .modal-form-sumbit:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    text-align: center;
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }
  .hero__title {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .hero__button {
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    transition: background-color var(--animation-dur-dir);
  }
  .hero__button:hover, .hero__button:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    text-align: center;
    height: 400px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }
  .hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .hero__button {
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    transition: background-color var(--animation-dur-dir);
  }
  .hero__button:hover, .hero__button:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-pc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }
  .hero__title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .hero__button {
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    transition: background-color var(--animation-dur-dir);
  }
  .hero__button:hover, .hero__button:focus {
    color: #ffffff;
    background-color: var(--button-accent-color);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-pc@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
    background-color: var(--primary-bg-color);
  }
  .svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  .features__icon {
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }
  .features__title {
    margin-bottom: 10px;
    text-align: center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
  }
  .features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.3;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background-color: var(--primary-bg-color);
  }
  .features__item {
    width: calc((100% - 30px) / 2);
  }
  .svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  .features__icon {
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }
  .features__title {
    margin-bottom: 10px;
    text-align: center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
  }
  .features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.3;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: var(--primary-bg-color);
  }
  .svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  .features__item {
    width: calc((100% - 90px) / 4);
  }
  .features__icon {
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }
  .features__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
  }
  .features__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.3;
  }
}
@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
.works {
  padding-top: 0;
}

.works__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  /* padding-top: 108px; */
}

.works__list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 30px;
}

.works__style {
  position: relative;
}

.works__text {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  /* padding-top: 27px; */
  height: 70px;
  width: 100%;
  /* text-align: center; */
  font-weight: 700;
  font-size: 14px;
  /* letter-spacing: 0.03em; */
  line-height: 1.17;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .team {
    background-color: #f5f4fa;
  }
  .team__employee {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .team__item {
    margin-top: var(--card-set-gap);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .main-team-title {
    margin-bottom: 30px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03;
  }
  .team__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__text {
    margin-bottom: 16px;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__style {
    padding: 30px 0;
  }
  .team__style {
    padding: 30px 0;
  }
  .social-list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .social-list__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--primary-link-color);
    background-color: #ffffff;
    transition: color var(--animation-dur-dir), background-color var(--animation-dur-dir);
  }
  .social-list__link:hover, .social-list__link:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }
}
@media screen and (min-width: 768px) {
  .main-team-title {
    margin-bottom: 30px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03;
  }
  .team__employee {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    width: calc((100% - 30px) / 2);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__style {
    padding: 30px 0;
  }
  .team__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__text {
    margin-bottom: 16px;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .social-list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .social-list__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--primary-link-color);
    background-color: #ffffff;
    transition: color var(--animation-dur-dir), background-color var(--animation-dur-dir);
  }
  .social-list__link:hover, .social-list__link:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }
}
@media screen and (min-width: 1200px) {
  .team {
    background-color: #f5f4fa;
  }
  .team__employee {
    display: flex;
    gap: 30px;
  }
  .team__item {
    width: calc((100% - 90px) / 4);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .main-team-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03;
  }
  .team__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__text {
    margin-bottom: 16px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__style {
    padding: 30px 0;
  }
  .social-list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .social-list__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--primary-link-color);
    background-color: #ffffff;
    transition: color var(--animation-dur-dir), background-color var(--animation-dur-dir);
  }
  .social-list__link:hover, .social-list__link:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }
}
@media screen and (max-width: 767px) {
  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--primary-link-color);
    fill: currentColor;
    transition: border var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .clients__link:hover, .clients__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  .clients__title {
    margin-bottom: 30px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .client {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 226px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--primary-link-color);
    fill: currentColor;
    transition: border var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .clients__link:hover, .clients__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  .clients__title {
    margin-bottom: 30px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--primary-link-color);
    fill: currentColor;
    transition: border var(--animation-dur-dir), color var(--animation-dur-dir);
  }
  .clients__link:hover, .clients__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  .clients__title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.select-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.select-menu__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color var(--animation-dur-dir), background-color var(--animation-dur-dir), box-shadow var(--animation-dur-dir);
}
.select-menu__button:hover, .select-menu__button:focus {
  color: var(--primary-bg-color);
  background-color: var(--button-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.product__link {
  display: block;
  background-color: #eeeeee;
  text-decoration: none;
  color: var(--title-text-color);
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: none;
  transition: box-shadow var(--animation-dur-dir);
}
.product__link:hover, .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-text {
  padding: 20px 24px;
  background-color: #fff;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 110%;
  padding-left: 24px;
  padding-right: 24px;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: transform var(--animation-dur-dir);
}
.product__link:hover .product__overlay, .product__link:focus .product__overlay {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */