@media screen and (max-width: 767px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    text-align: center;
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }
  .hero__title {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .hero__button {
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;

    transition: background-color var(--animation-dur-dir);

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: var(--button-accent-color);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    text-align: center;
    height: 400px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }
  .hero__title {
    // width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .hero__button {
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;

    transition: background-color var(--animation-dur-dir);

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: var(--button-accent-color);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-pc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }

  .hero__title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .hero__button {
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;

    transition: background-color var(--animation-dur-dir);

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: var(--button-accent-color);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-pc@2x.jpg);
  }
}

// .hero {
//   padding-bottom: 200px;
//   padding-top: 200px;
//   text-align: center;
//   height: 600px;
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero-img.jpg);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-color: #c4c4c4;
// }

// .hero__title {
//   width: 696px;
//   margin: 0 auto;
//   margin-bottom: 30px;

//   color: #ffffff;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
// }

// .hero__button {
//   padding: 10px 32px;
//   background-color: #2196f3;
//   color: #ffffff;
//   font-family: inherit;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   cursor: pointer;
//   align-items: center;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   border-radius: 4px;
//   border: none;

//   transition: background-color var(--animation-dur-dir);

//   &:hover,
//   &:focus {
//     color: #ffffff;
//     background-color: var(--button-accent-color);
//   }
// }
